@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* typography is a way that 
text is arranged
 and presented  */


 body {
    padding: 10%;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
 }

 /* button, input {
    font: inherit;
 } */

 p {
    /* text-decoration: underline;
    text-transform: capitalize;
    text-align: justify;
    text-indent: 2rem; */
    line-height: 1.5;
   /*  letter-spacing: 0.25em; */
 /*   word-spacing: 0.5em; */
 /* font-weight: 600; */
 font-style: italic;
 }